<%- include('./partials/header') %>

<h2><%= card.name %></h2>

<div class="cardsContainer">
      <div class="card">
        <a href="/card/<%= card.id %>">
          <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
          <p class="cardName"><%= card.name %></p>
        </a>
        <a class="link--addCard" title="Ajouter au deck" href="/deck/add/<%= card.id %>">[ + ]</a>
        <a class="link--removeCard" title="Ajouter au deck" href="/deck/remove/<%= card.id %>">[ - ]</a>
      </div>
</div>
<div class="details">
  <p><span>Élément :</span> <%= card.element || 'aucun' %></p>
  <p><span>Niveau :</span> <%= card.level %></p>
  <div class="values">
    <p><span>Valeurs :</span></p>
    <ul>
      <li>Nord : <%= card.value_north %></li>
      <li>Est : <%= card.value_east %></li>
      <li>Sud : <%= card.value_south %></li></li>
      <li>Ouest : <%= card.value_west %></li>
    </ul>
</div>

<%- include('./partials/footer') %>


